.header {
  position: relative;
  width: 100%;
  height: 90px;
  z-index: $zindex--header;
  display: flex;
  justify-content: center;
  align-items: center;

  &__svg--mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  h1 {
    color: $white;
    position: relative;
  }
}
