// TABS
.tabs {
  width: 100%;
  border-radius: 8px;

  //   margin: 1rem 0 0;

  &__list {
    display: flex;
    border-top: 1px solid $primary-color;

    @media (min-width: $screen-sm) {
      border: none;
    }
  }

  &__item {
    flex: 1;
    background: $white;
    text-align: center;
    color: $font-primary-color;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.4s ease;

    &.active {
      background: $primary-color;

      .tabs__item__content {
        color: $font-primary-color;
        background: $white;
        font-weight: $fontWeightBold;
      }

      &.tabs__item--first {
        .tabs__item__content {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 0;
        }
      }
      &.tabs__item--second {
        .tabs__item__content {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 0;
        }
      }
    }

    &--first {
      @media (min-width: $screen-sm) {
        border-top-left-radius: 8px;
      }
      .tabs__item__content {
        @media (min-width: $screen-sm) {
          border-top-left-radius: 8px;
        }

        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
      }
    }
    &--second {
      @media (min-width: $screen-sm) {
        border-top-right-radius: 8px;
      }

      .tabs__item__content {
        @media (min-width: $screen-sm) {
          border-top-right-radius: 8px;
        }
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
      }
    }

    &__content {
      color: $white;
      background: $primary-color;
      display: block;
      padding: 0.4rem 0;
      transition: 0.4s ease;
    }
  }
}

// CONTENT
.content {
  flex: 1;
  padding: 1rem;

  &__item {
    // margin: 0.5rem auto;
  }

  &__item__title {
    font-size: 1.2rem;
    color: $font-primary-color;
    text-transform: uppercase;
    font-weight: $fontWeightBold;
    margin: 1rem 0;
  }

  // CHECKBOX
  .input-checkbox {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    &:checked {
      + .label {
        font-weight: $fontWeightBold;

        .checkbox {
          background: $primary-color;
        }
      }
    }
  }

  .label {
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem;
    color: $font-primary-color;
    transition: 0.2s ease;

    .checkbox {
      width: 24px;
      height: 24px;
      border: 2px solid $primary-color;
      border-radius: 4px;
      background: $white;
      margin: 0 1rem 0 0;
      transition: 0.2s ease;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
